<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Six</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Dark mode switch -->
    
    <!-- Navigation -->
    <nav id="nav">
        <a href="#home">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="#projects">PROJECT</a>
        <a href="#contact">CONTACT</a>
    </nav>
    <!-- Home Secton -->
    <section id="home">
        <div class="title-group">
            <h1>Wanna Be A Programmer?</h1>
            <h2>Here are some things you should know</h2>
        </div>
    </section>

    <!-- About Section -->
   <section id="about">
   </section>

    <!-- Projects Section -->
    <section id="projects">
    </section>

    <!-- Contact Section -->
    <section id="contact">
    </section>

    <!-- Footer Section -->


    <!-- Script -->
    <script src="script.js"></script>
</body>

</html>