<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Six</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Dark mode switch -->
    
    <!-- Navigation -->
    
    <!-- Home Secton -->
    

    <!-- About Section -->
   

    <!-- Projects Section -->
    

    <!-- Contact Section -->
    

    <!-- Footer Section -->


    <!-- Script -->
    <script src="script.js"></script>
</body>

</html>